# Node modules
node_modules/

# Build directories
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
*.tmp
*.temp

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other files to ignore
package-lock.json
yarn.lock